<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    body {
      background: linear-gradient(90deg, #ff68ba 0.39%, #edc281 99.97%);
      margin: 0;
    }
    #app {
      display: flex;
      justify-content: center;
    }
    #controls {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: sans-serif;
      left: 0;
      padding: 10px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 110px;
    }
    #button-for-go-crazy {
      background: transparent;
      border: 0 none;
      color: rgba(0,0,0,0.2);
    }
    @keyframes gocrazy {
      0% {
        transform: translate(5px, -3px);
      }
      10% {
        transform: translate(3px, 4px);
      }
      20% {
        transform: translate(-1px, -2px);
      }
      30% {
        transform: translate(1px, 2px);
      }
      40% {
        transform: translate(-3px, -2px);
      }
      50% {
        transform: translate(2px, 0px);
      }
      60% {
        transform: translate(4px, -5px);
      }
      70% {
        transform: translate(-1px, -3px);
      }
      80% {
        transform: translate(1px, 2px);
      }
      90% {
        transform: translate(-2px, -1px);
      }
    }
    #button-for-go-crazy:hover {
      animation: gocrazy;
      animation-iteration-count: infinite;
      animation-duration: 100ms;
      color: black;
    }
  </style>
</head>
<body>
<noscript>This website is a JavaScript application, so JavaScript needs to be enabled in order to use it.</noscript>
<div id="app"></div>
<div id="controls">
  <button id="button-for-toggling">Toggle Edit/Play</button>
  <p>Drag these thingies onto that thingy.</p>
  <img src="eyeball.png" alt="eyeball" width="40" height="40" id="eyeball-for-dragging" draggable="true" />
  <img src="body.png" alt="furry blue body" width="100" height="100" id="body-for-dragging" draggable="true" />
  <img src="mouth.png" alt="fangy mouth" width="75" height="75" id="mouth-for-dragging" draggable="true" />
  <img src="left-leg.png" alt="furry left leg" width="75" height="75" id="left-leg-for-dragging" draggable="true" />
  <img src="right-leg.png" alt="furry right leg" width="75" height="75" id="right-leg-for-dragging" draggable="true" />
  <br />
  <button id="button-for-destroying">It Broke (Fit It)</button>
  <br />
  <button id="button-for-go-crazy">GO CRAZY!</button>
</div>
</body>
</html>
