<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    body {
      background: linear-gradient(90deg, #ff68ba 0.39%, #edc281 99.97%);
      margin: 0;
    }
    #app {
      display: flex;
      justify-content: center;
    }
  </style>
</head>
<body>
<noscript>This website is a JavaScript application, so JavaScript needs to be enabled in order to use it.</noscript>
<div id="app"></div>
<button id="button-for-clicking">Button for Clicking</button>
<button id="button-for-destroying">Reset</button>
</body>
</html>
