<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<noscript>This website is a JavaScript application, so JavaScript needs to be enabled in order to use it.</noscript>
<h1>Commit <abbr title="Hackathon Onboarding Project">HOP</abbr></h1>
<p>There's stuff going on in the console!</p>
</body>
</html>
